APP_NAME=test-lintaspay
APP_ENV=development
LOG_LEVEL=debug
# set to "json" to force structured JSON logs in development
LOG_FORMAT=

SERVER_PORT=3000

JWT_SECRET=please-change-this-secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h

IDEMPOTENCY_TTL=24h

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=secret
MYSQL_DATABASE=test_lintaspay
MYSQL_SSL_MODE=false
